<?xml version="1.0"?>

<configuration>
    <general
        betweenQueriesInterval="10.0"
        betweenQueriesSalt="5.0"
        betweenAccountsInterval="300"
        betweenAccountsSalt="600" />

    <!--
      - Note: login and password are optional
      -       if not set, the proxy is considered open
      -       only Basic HTTP Authentication is currently supported
      -       protocols: a comma separated list of values - i.e, "http,https"
    <proxy protocols="http,https" url="218.204.159.45:8123" login="John Smith" password="xxx" />
    -->

    <accounts>
        <account type="Live" disabled="false">
            <login>kimp1992@live.com</login>
            <password>DELLDELL12</password>
        </account>
        <account type="Live" disabled="false">
            <login>vimp1991@hotmail.com</login>
            <password>DELLDELL12</password>
        </account>
        <account type="Live" disabled="false">
            <login>jimp1990@live.com</login>
            <password>DELLDELL12</password>
        </account>
    </accounts>

    <events>
        <onError>
            <retry interval="15" salt="13.5" count="3" />
            <notify cmd="/home/nathan/github/bingrewards/BingRewards/notify/onError.sh %a %p %r %P %l %i %e" />
        </onError>
        <onComplete>
            <retry if="%p lt 16" interval="15" salt="13.5" count="3" />
            <notify if="%l gt 3000"
                    cmd='/home/nathan/github/bingrewards/BingRewards/notify/onComplete_reached.sh %a %p %r %P %l %i "reached %l Life Credits"' />
            <notify if="%p ne 16"
                    cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            <notify if="%P gt 475"
                    cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />

            <account ref="Live_kimp1992@live.com.com">
                <retry if="%p lt 31" interval="15" salt="13.5" count="3" />
                <notify if="%p ne 31"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
                <notify if="%P gt 475"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            </account>
            <account ref="Live_vimp1991@hotmail.com">
                <retry if="%p lt 16" interval="15" salt="13.5" count="3" />
                <notify if="%p ne 16"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
                <notify if="%P gt 475"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            </account>
            <account ref="Live_jimp1990@live.com">
                <retry if="%p lt 16" interval="15" salt="13.5" count="3" />
                <notify if="%p ne 16"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
                <notify if="%P gt 475"
                        cmd="/home/nathan/github/bingrewards/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            </account>
        </onComplete>
        <onScriptComplete>
            <notify cmd="/home/nathan/github/bingrewards/BingRewards/notify/onScriptComplete.sh -mail" />
        </onScriptComplete>
        <onScriptFailure>
            <notify cmd="/home/nathan/github/bingrewards/BingRewards/notify/onScriptFailure.sh -mail" />
        </onScriptFailure>
    </events>
</configuration>
